# Mikrobloggeriet
/version-info.edn

# Mac stuff
.DS_Store
.idea
*.log
tmp/

# Clojure and java
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
/.cpcache

# Clojure tools and linters
/.clerk
/.calva
/.clj-kondo
/.lsp
