{:tasks
 {test (clojure "-M:kaocha")
  deploy* (shell "garden deploy")
  push (shell "git push")
  deploy (do (run 'test)
             ;; try to deploy before pushing - in case app startup
             ;; fails
             (run 'deploy*)
             (run 'push))}}
