{:paths ["bb/src"]

 :tasks
 {deploy
  (do (run 'test-latest-commit)
      (run 'maybe-lint)
      (run 'deploy*) ; attempt deploy before push avoid startup errors in the git log
      (run 'push))

  deploy*
  (shell "garden deploy")

  dev
  (shell "garden run")

  maybe-lint
  {:requires ([babashka.fs :as fs])
   :task
   (when (fs/which "clj-kondo")         ; linting is optional
     (shell "clj-kondo --fail-level warning --lint src"))}

  push
  (shell "git push")

  test
  (apply clojure "-M:kaocha" *command-line-args*)

  timemachine
  {:requires ([mikrobloggeriet.timemachine :as timemachine])
   :task
   (apply timemachine/main *command-line-args*)}

  test-latest-commit
  {:requires ([mikrobloggeriet.timemachine :as timemachine])
   :task
   (timemachine/main "HEAD" "--" "bb test")}

  }}
