:root {
    --background01: #0F0F0F;
    --background02: #080D92;
    --white100: #fff;
    --white80: rgba(255, 255, 255, 0.8);
    --white50: rgba(255, 255, 255, 0.5);
    --white20: rgba(255, 255, 255, 0.2);
    --white10: rgba(255, 255, 255, 0.1);
    --black100: #000;
    --black80: rgba(0, 0, 0, 0.8);
    --black50: rgba(0, 0, 0, 0.5);
    --black20: rgba(0, 0, 0, 0.2);
    --black10: rgba(0, 0, 0, 0.1);
  }

body { 
    margin: 0;
    padding: 0;
    background-color: var(--background01); 
    font-size: 16px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0;
}

header {
    width: 100%;
    height: auto;
    background-color: var(--white100);
    color: var(--black100);
    border-bottom: 1px solid var(--background01);

    h1 {
        font-weight: 800;
    }
}

container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

section {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 50%;
    height: 100%;
    border-right: 1px solid var(--white20);
    scroll-behavior: smooth;
    transition: ease-in-out 0.3s;
    opacity: 1;
}

section::not(:hover) {
    opacity: 0.5;
}

h1, h2, h3, h4, h5, h6, p, li, figcaption {
    color: var(--white100);
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(1rem, 1vw, 1.5rem);
    line-height: 150%;
}

h1 { 
    position: sticky;
    top: -1px;
    border-bottom: 1px solid var(--background01);
}

figcaption {
    color: var(--white80);
    font-size: 0.8rem;
}

nav {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.navList {
    display: flex;
    flex-direction: row;
    height: fit-content;
    cursor: cell;
    gap: 4px;
    text-decoration: none;
}

.navList:hover {
    background-color: var(--white10);
    cursor: cell;
}

.navTitle{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 80%;
    padding-right: 0;
    margin: 0;
}

.navDate {
    color: var(--white50);
    white-space: nowrap;
    padding: 0;
    margin: 0;
}


h1 {
    background-color: var(--white100);
    color: var(--black100);
    padding: 0 4px 0 4px;
    margin: 0;
}

p {
    padding: 0 4px 0 4px;
}

a {
    color: var(--white100);
    text-decoration: underline;
}

a:hover {
    background-color: var(--white100);
    color: var(--black100);
    text-decoration: none;
    cursor: ne-resize;
}

blockquote {
    color: var(--white80);
    border-left: 2px solid var(--white50);
    padding-left: 1rem;
    margin-left: 0.5rem;
}

figure {
    margin: 0;
    padding: 0 4px 0 4px;
}

img { 
    max-width: 100%;
}

pre {
    color: var(--white80);
    background-color: var(--white10);
    overflow: scroll;
    width: 100%;
    height: auto;
    padding: 2rem;
    margin-left: -1px;
    line-height: 150%;
}

.footnotes {
    width: 100%;
    background-color: var(--white10);
    > ol {
    font-size: 9px !important;
}
}

hr {
    display: none;
}

footer {
    background-color: var(--white100);
    border-top: 1px solid var(--background01);
    color: var(--black100);
    width: 100%;

}