:root {
    --background: #0f0f0f;
    --white100: #fff;
    --white80: rgba(255, 255, 255, 0.8);
    --white50: rgba(255, 255, 255, 0.5);
    --white20: rgba(255, 255, 255, 0.2);
    --white10: rgba(255, 255, 255, 0.1);
    --black100: #000;
    --black80: rgba(0, 0, 0, 0.8);
    --black50: rgba(0, 0, 0, 0.5);
    --black20: rgba(0, 0, 0, 0.2);
    --black10: rgba(0, 0, 0, 0.1);
  }

body { 
    margin: 0;
    padding: 0;
    background-color: var(--background); 
    display: flex;
    flex-direction: row;
    font-size: 16px;
}

section {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow-y: scroll;
    width: 50%;
    border-right: 1px solid var(--white10);
}

h1, h2, h3, h4, h5, h6, p, li {
    color: var(--white100);
    text-decoration: none;
    list-style-type: none;
    font-family: monospace;
    font-weight: 200;
    font-size: clamp(1rem, 1vw, 1.5rem);
    line-height: 150%;
}

ul {
    padding-inline-start: 0px;
    margin: 0px;
}

h1 {
    background-color: var(--white100);
    color: var(--black100);
    padding: 0 4px 0 4px;
}

p {
    padding: 0 4px 0 4px;
}

img { 
    max-width: 100%;
}