@import url("theme1.css");
@import url("theme2.css");

  ::selection {
    color: var(--background01);
    background-color: var(--white100);
}

body { 
    margin: 0;
    padding: 0px;
    background-color: var(--background01); 
    font-size: 16px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0;
}

header {
    width: 100%;
    height: auto;
    background-color: var(--white100);
    color: var(--black100);
    border-bottom: 1px solid var(--background01);

    h1 {
        font-weight: 800;
        cursor: cell;
    }
}

container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

section {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 50%;
    height: 100%;
    border-right: 1px solid var(--white20);
    -webkit-scrollbar: none; /* WebKit */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    /*
       scroll-behavior: smooth går i beina på lazy-loading av bilder.

       Vi har lazy-loading av bilder med HTML ala denne:

         <img loading="lazy" src="olav.jpg">

       Når vi samtidig har scroll-behavior: smooth, risikerer vi at følgende skjer:

       1. En bruker får lastet nettsiden kjapt fordi vi lazy-loader bilder
       2. Brukeren trykker på en lenke langt ned, feks OLORM-7
       3. Brukeren kommer ikke ned til OLORM-7, scrollen stopper feks på OLORM-33.

       Så hva har skjedd?
       1. Nettleseren regnet ut at det var (feks) 7000 px ned til OLORM-7
       2. Nettleseren begynner å scrolle
       3. Imens nettleseren scroller, blir bilder laster inn.
       4. Nettleseren stopper å scrolle etter å ha scrollet 7000 px, MEN nå
          har avstanden fra toppen og ned til OLORM-7 økt til 13000 px.

       Med andre ord, vi må gjøre et valg på hvordan dette funker.

       Kommenter inn igjen scroll-behavior: smooth hvis du vil, men la gjerne
       denne comment-blokka bli igjen så vi bevarer kontekst & intensjon.

   */
    /*scroll-behavior: smooth;*/
    transition: ease-in-out 0.3s;
    opacity: 1;
}

section:hover + section, section:has(+ section:hover) {
    opacity: 0.5;

    && img {
        filter: grayscale(1);
        mix-blend-mode: screen;
    }
}

h1, h2, h3, h4, h5, h6, p, li, figcaption, aside {
    color: var(--white100);
    text-decoration: none;
    font-family: 'IBM Plex', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(1rem, 1vw, 1.5rem);
    line-height: 150%;
}

h1 { 
    position: sticky;
    top: -1px;
    border-bottom: 1px solid var(--background01);
}

figcaption {
    color: var(--white80);
    font-size: 0.8rem;
}

aside {
    background-color: var(--white10);
    padding: 1rem;
}

nav {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.navList {
    display: flex;
    flex-direction: row;
    height: fit-content;
    cursor: cell;
    gap: 4px;
    text-decoration: none;
}

.navList:hover {
    background-color: var(--white10);
    cursor: cell;
}

.navList:active {
    background-color: var(--white50);
}

.navList:visited > .navTitle {
    color: gray;
}


.navTitle{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 80%;
    padding-right: 0;
    margin: 0;
    text-decoration: none;
}

.navDate {
    color: var(--white50);
    white-space: nowrap;
    padding: 0;
    margin: 0;
}


h1 {
    background-color: var(--white100);
    color: var(--black100);
    padding: 0 4px 0 4px;
    margin: 0;
}

p {
    padding: 0 4px 0 4px;
}

a {
    color: var(--white100);
    text-decoration: underline;
}

a:hover {
    background-color: var(--white100);
    color: var(--black100);
    text-decoration: none;
    cursor: ne-resize;
}

blockquote {
    color: var(--white80);
    background-color: var(--white10);
    border-left: 2px solid var(--white50);
    padding-left: 1rem;
    margin-left: 0.5rem;
    padding: 0.5rem 0rem 0.5rem 1rem;

    > p {
    font-style: italic;
}
}

figure {
    margin: 0;
    padding: 0 4px 0 4px;
    
}

img { 
    max-width: 100%;
    filter: grayscale(0);
    mix-blend-mode: normal;
}


pre {
    color: var(--white80);
    background-color: var(--white10);
    overflow: scroll;
    width: 100%;
    height: auto;
    padding: 2rem;
    margin-left: -1px;
    line-height: 150%;
}

.footnotes {
    width: 100%;
    background-color: var(--white10);
    > ol {
    font-size: 9px !important;
}
}

hr {
    display: none;
}

footer {
    background-color: var(--white100);
    border-top: 1px solid var(--background01);
    color: var(--black100);
    width: 100%;

}
