body {
    margin-bottom: 20vh;
}

.feeling-lucky:hover {
    display: inline-block;
    animation-name: spin;
    animation-duration: 175ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

a.feeling-lucky {
    text-decoration: none;
    font-size: 1.3em;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

ul.doc-list {
    list-style-type: none;
    padding: 0;

    & li {
        display: inline;
    }

    & li + li::before {
        content: " · ";
    }
}
