{:deps {}
 :dev-http {3001 ["public" ; Mikrobloggeriet
                  "classpath:public" ; Portfolio's own resource files
                  ]}
 :builds
 {
  :portfolio
  {:target :browser
   :modules {:main {:init-fn mblog.scenes/main}}
   :dev {:output-dir "public/portfolio-js"}}
  }}
