:root {
    --background01: #0F0F0F;
    --white100: #fff;
    --white80: rgba(255, 255, 255, 0.8);
    --white50: rgba(255, 255, 255, 0.5);
    --white20: rgba(255, 255, 255, 0.2);
    --white10: rgba(255, 255, 255, 0.1);
    --black100: #000;
    --black80: rgba(0, 0, 0, 0.8);
    --black50: rgba(0, 0, 0, 0.5);
    --black20: rgba(0, 0, 0, 0.2);
    --black10: rgba(0, 0, 0, 0.1);
  }
