body {
    margin: 1vh 0 10vh 0;
    padding: 0;
}

header {
    width: auto;
    display: flex;
    flex-direction: column;
    margin: auto 10vw;
}

.logo {
    width: 30ch;
    margin: auto;
}

.intro {
    margin: 2vh auto;
    text-align: center;
    line-height: 1.5;
    max-width: 40ch;
}

.all-doors {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
    
    @media only screen and (max-width: 600px) {
        max-width: 35ch;
        display: grid;
        margin: auto;
        background-color: red;
    }
}


.component {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

p {
    font-family: monospace;
    margin: 0;
    font-size: 16px;
}


a {
    text-decoration: none;
    cursor: alias;
    font-size: 16px;
}


.wall {
    display: flex;
    margin: 0;
    padding: 0;

}

.closed {
    display: block;
}

.open {
    display: none;
}

.door {
    display: inline-block;
}

.door:hover .closed {
    display: none;
}

.door:active .closed {
    display: none;
}

.door:hover .open {
    display: block;
}

.door:active .open {
    display: block;
}