body {
    margin: 0;
    padding: 0;
    background-color: var(--second100);
    font-size: 16px;
    font-family: var(--main-font);
}

h1, h2, h3, h4, h5, h6, p, li, figcaption, aside {
    color: var(--first100);
    text-decoration: none;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(1rem, 1vw, 1.5rem);
    line-height: 150%;
}

h1 {
    top: -1px;
}

h2, h3, h4, h5, h6 {
    text-decoration: overline;
}

h2::before {
    content: "## ";
}
h3::before {
    content: "### ";
}
h4::before {
    content: "#### ";
}
h5::before {
    content: "##### ";
}
h6::before {
    content: "###### ";
}

figcaption {
    color: var(--first80);
    font-size: 0.8rem;
}

aside {
    background-color: var(--first10);
    padding: 1rem;
}

h1 {
    background-color: var(--first100);
    color: var(--second100);
    padding: 4px 12px 4px 12px;
    margin: 0;
    font-weight: 600;
    z-index: 99999;
}

p {
    padding: 2px 12px 2px 12px;
}

a {
    color: var(--first100);
    text-decoration: underline;
}

a:hover {
    background-color: var(--first100);
    color: var(--second100);
    text-decoration: none;
    cursor: ne-resize;
}

blockquote {
    color: var(--first80);
    background-color: var(--first10);
    border-left: 2px solid var(--first50);
    padding-left: 1rem;
    margin-left: 0.5rem;
    padding: 0.5rem 0rem 0.5rem 1rem;

    > p {
    font-style: italic;
}
}

figure {
    margin: 0;
    padding: 0 4px 0 4px;

}

img {
    max-width: 100%;
    filter: grayscale(0);
    mix-blend-mode: normal;
}


pre {
    color: var(--first80);
    background-color: var(--first10);
    overflow: scroll;
    width: 100%;
    height: auto;
    padding: 2rem;
    margin-left: -1px;
    line-height: 150%;
}

.footnotes {
    width: 100%;
    background-color: var(--first10);
    > ol {
        font-size: 9px !important;
    }
}

hr {
    display: none;
}

h1, h2, h3, h4, h5, h6, p, li, figcaption, aside {
    font-size: clamp(1.5rem, 1vw, 3rem);
}
