
::selection {
    color: var(--background);
    background-color: var(--accent100);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    font-size: 16px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0;
}

header {
    width: calc(100% - 56px);
    height: auto;
    background-color: var(--accent50);
    backdrop-filter: blur(4px);
    color: var(--invert100);
    border: 1px solid var(--accent20);
    border-radius: 8px;
    margin: 12px;
    padding: 8px 16px 8px 16px;
    z-index: 99999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: var(--main-font);
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    font-size: clamp(1rem, 1vw, 1.5rem);

    a {
        text-decoration: none;
        background-color: transparent;
    }

    a:hover {
        background-color: transparent;
        text-decoration: none;
    }

    p {
        padding: 0;
        margin: 0;
    }

}

container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: visible;
}

.doc {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

section {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 50%;
    height: 100%;
    padding: 0 40px 0 40px;
    -webkit-scrollbar: none; /* WebKit */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    /*
       scroll-behavior: smooth går i beina på lazy-loading av bilder.

       Vi har lazy-loading av bilder med HTML ala denne:

         <img loading="lazy" src="olav.jpg">

       Når vi samtidig har scroll-behavior: smooth, risikerer vi at følgende skjer:

       1. En bruker får lastet nettsiden kjapt fordi vi lazy-loader bilder
       2. Brukeren trykker på en lenke langt ned, feks OLORM-7
       3. Brukeren kommer ikke ned til OLORM-7, scrollen stopper feks på OLORM-33.

       Så hva har skjedd?
       1. Nettleseren regnet ut at det var (feks) 7000 px ned til OLORM-7
       2. Nettleseren begynner å scrolle
       3. Imens nettleseren scroller, blir bilder laster inn.
       4. Nettleseren stopper å scrolle etter å ha scrollet 7000 px, MEN nå
          har avstanden fra toppen og ned til OLORM-7 økt til 13000 px.

       Med andre ord, vi må gjøre et valg på hvordan dette funker.

       Kommenter inn igjen scroll-behavior: smooth hvis du vil, men la gjerne
       denne comment-blokka bli igjen så vi bevarer kontekst & intensjon.

   */
    /*scroll-behavior: smooth;*/
    transition: ease-in-out 0.3s;
    opacity: 1;
}

section:hover + section, section:has(+ section:hover) {
    opacity: 0.5;

    && img {
        filter: grayscale(1);
        mix-blend-mode: screen;
    }
}

header, h1, h2, h3, h4, h5, h6, p, li, figcaption, aside {
    color: var(--accent100);
    text-decoration: none;
    font-family: var(--main-font);
    font-weight: 300;
    font-style: normal;
    font-size: clamp(1rem, 1vw, 1.5rem);
    line-height: 150%;
}



h1 {
    position: sticky;
    top: 0px;
}

h2, h3, h4, h5, h6 {
    text-decoration: overline;
}

h2::before {
    content: "## ";
}
h3::before {
    content: "### ";
}
h4::before {
    content: "#### ";
}
h5::before {
    content: "##### ";
}
h6::before {
    content: "###### ";
}

figcaption {
    color: var(--accent80);
    font-size: 0.8rem;
}

aside {
    background-color: var(--accent10);
    padding: 1rem;
}

nav {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.navigation {
    border-right: 1px solid var(--accent80);
}

.navList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    cursor: cell;
    padding: 8px 16px 8px 16px;
    text-decoration: none;
    transition: ease-out 0.3s;
    border: 0;
    border-radius: 8px;
}

.navList:hover {
    background-color: var(--accent50);
    border: 1px solid var(--accent20);
    cursor: cell;
    transition: ease-out 0s;
}

.navList:active {
    background-color: var(--accent80);
}

.navList:visited > .navTitle {
    text-decoration: line-through; /* Does not work! */
}


.navTitle{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 80%;
    padding-right: 0;
    margin: 0;
    text-decoration: none;
}

.navDate {
    color: var(--accent50);
    white-space: nowrap;
    padding: 0;
    margin: 0;
}


h1 {
    background-color: var(--accent50);
    backdrop-filter: blur(4px);
    border: 1px solid var(--accent20);
    border-radius: 8px;
    color: var(--invert100);
    padding: 16px 8px 16px 8px;
    margin: 0;
    font-weight: 600;
    z-index: 99999;
}

p {
    padding: 0 16px 0 16px;
}

a {
    color: var(--accent100);
    text-decoration: underline;
}

a:hover {
    background-color: var(--accent100);
    color: var(--invert100);
    text-decoration: none;
    cursor: ne-resize;
}

blockquote {
    color: var(--accent80);
    background-color: var(--accent10);
    border-left: 2px solid var(--accent50);
    padding-left: 1rem;
    margin-left: 0.5rem;
    padding: 0.5rem 0rem 0.5rem 1rem;

    > p {
    font-style: italic;
}
}

figure {
    margin: 0;
    padding: 0 4px 0 4px;
    border-radius: 4px;
}

img {
    max-width: 100%;
    filter: grayscale(0);
    mix-blend-mode: normal;
    border-radius: 4px;
}


pre {
    color: var(--accent80);
    background-color: var(--accent10);
    overflow: scroll;
    width: 100%;
    height: auto;
    padding: 2rem;
    margin-left: -1px;
    line-height: 150%;
}

.footnotes {
    width: 100%;
    background-color: var(--accent10);
    > ol {
    font-size: 9px !important;
}
}

hr {
    display: none;
}

footer {
    background-color: var(--accent100);
    border-top: 1px solid var(--background);
    color: var(--invert100);
    width: 100%;

}


@media screen and (max-width: 600px), (orientation: portrait) { /* Mobile */

    .navigation {
        display: none;
    }

    section {
        width: 100%;
    }

    .doc {
        /*height: 100vh;*/
        margin-bottom: 5rem;
    }

    h1, h2, h3, h4, h5, h6, p, li, figcaption, aside {
        font-size: clamp(2.5rem, 1vw, 5rem);
    }


}
