{:paths ["src"]
 :deps {babashka/fs {:mvn/version "0.4.18"}
        babashka/process {:mvn/version "0.5.21"}
        compojure/compojure {:mvn/version "1.7.0"}
        hiccup/hiccup {:mvn/version "2.0.0-alpha2"}
        http-kit/http-kit {:mvn/version "2.7.0-alpha1"}
        io.github.nextjournal/clerk {:mvn/version "0.13.842"}
        olorm/lib {:local/root "../lib"}
        org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases {:dev {:extra-paths ["test"]}
           :run-tests {:extra-paths ["test"]
                       :extra-deps {io.github.cognitect-labs/test-runner
                                    {:git/url "https://github.com/cognitect-labs/test-runner"
                                     :git/tag "v0.5.1"
                                     :git/sha "dfb30dd"}}
                       :main-opts ["-m" "cognitect.test-runner"]
                       :exec-fn cognitect.test-runner.api/test}
           :hello-world {:exec-fn clojure.core/prn
                         :exec-args {:message "Hello, world!"}}}}
