:root {
    /* a */
    --bwb-white: white;
    --bwb-black:  black;
    --bwb-link-light: blue;
    --bwb-link-dark: lightskyblue;
    --bwb-link-visit-light: purple;
    --bwb-link-visit-dark: fuchsia;
    --bwb-extra: lightgray;







    /* Assign for use in HTML */
    --desktop-font-size: 1.2rem/1.55;
    --mobile-font-size: 1rem/1.45;
    --background-color: var(--bwb-white);
    --text-color: var(--bwb-black);
    --link-color: var(--bwb-link-light);
    --link-color-alt: var(--bwb-link-dark);
    --link-color-visit: var(--bwb-link-visit-dark);
    --primary-color: var(--bwb-extra);
    --secondary-color: var(--bwb-extra);
    --tertiary-color: var(--bwb-extra);
}


/* Dark mode support */
@media (prefers-color-scheme: dark) {

    :root {
        --background-color: var(--bwb-black);
        --text-color: var(--bwb-white);
        --link-color: var(--bwb-link-dark);
        --link-color-alt: var(--bwb-link-light);
        --link-color-visit: var(--bwb-link-visit-light);
        --primary-color: var(--bwb-extra);
        --secondary-color: var(--bwb-extra);
        --tertiary-color: var(--bwb-extra);
        }
}
