/*
 * AI 
 */

/* Variables */
:root {
    --desktop-font-size: 1.2rem/1.55;
    --mobile-font-size: 1rem/1.45;
    --text-color: #2d2d2d;
    --link-color: #ff0000; /* Red */
    --link-color-alt: #009900; /* Forest Green */
    --primary-color: #d07f89; /* Light red */
    --secondary-color: #f5efdb; /* Beige */
    --tertiary-color:  #ff7878;
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
    body {
        background: #0f0f23;
    }
    :root {
        --text-color: #cccccc;
        --link-color: #009900; /* Green */
        --link-color-alt: #99ff99; /* Light green */
        --primary-color: #ffff66; /* Light Yellow */
        --primary-color-light: #10101a;
        --secondary-color: #10101a; /* Lime Green */
        --tertiary-color: #10101a;
    }
}
