{:urlog/docs
 [{:doc/slug "urlog-1", :urlog/url "https://www.my90stv.com/"}
  {:doc/slug "urlog-2", :urlog/url "https://bezier.method.ac/"}
  {:doc/slug "urlog-3", :urlog/url "https://grids.obys.agency/"}
  {:doc/slug "urlog-4", :urlog/url "https://www.accessguide.io/"}
  {:doc/slug "urlog-5", :urlog/url "http://astronaut.io/"}
  {:doc/slug "urlog-6", :urlog/url "https://www.designsystemsforfigma.com/"}
  {:doc/slug "urlog-7", :urlog/url "https://fockups.com/"}
  {:doc/slug "urlog-8", :urlog/url "https://typescale.com/"}
  {:doc/slug "urlog-9", :urlog/url "https://radio.garden/"}
  {:doc/slug "urlog-10", :urlog/url "https://figmalion.com/"}
  {:doc/slug "urlog-11", :urlog/url "https://unwrapyourface.tumblr.com/"}
  {:doc/slug "urlog-12", :urlog/url "https://lines.chromeexperiments.com/"}
  {:doc/slug "urlog-13", :urlog/url "https://calmtech.com/"}
  {:doc/slug "urlog-14", :urlog/url "https://www.unmade.com/"}
  {:doc/slug "urlog-15", :urlog/url "https://bjango.com/articles/designtoolcanvashandles/"}
  {:doc/slug "urlog-16", :urlog/url "https://studiomoniker.com/projects"}
  {:doc/slug "urlog-17", :urlog/url "https://type.method.ac/"}
  {:doc/slug "urlog-18", :urlog/url "https://index.kitasenju.design/"}
  {:doc/slug "urlog-19", :urlog/url "https://scanwiches.com/"}
  {:doc/slug "urlog-20", :urlog/url "https://www.window-swap.com/"}
  {:doc/slug "urlog-21", :urlog/url "https://yhsong.com/index.html#home"}
  {:doc/slug "urlog-22", :urlog/url "https://flagstories.co/"}
  {:doc/slug "urlog-23", :urlog/url "https://www.modernillustration.org/archive"}
  {:doc/slug "urlog-24", :urlog/url "https://instorier.com/"}
  {:doc/slug "urlog-25", :urlog/url "https://www.schultzschultz.com/tools.html"}
  {:doc/slug "urlog-26", :urlog/url "https://apps.apple.com/us/app/hidden-bar/id1452453066?mt=12"}
  {:doc/slug "urlog-27", :urlog/url "https://a.singlediv.com/"}
  {:doc/slug "urlog-28", :urlog/url "http://onemillionlols.com/"}
  {:doc/slug "urlog-29", :urlog/url "https://fig.io/"}
  {:doc/slug "urlog-30", :urlog/url "http://patternindex.org/"}
  {:doc/slug "urlog-31", :urlog/url "https://temper.one/"}
  {:doc/slug "urlog-32", :urlog/url "https://animate.style/"}
  {:doc/slug "urlog-33", :urlog/url "https://getwaves.io/"}
  {:doc/slug "urlog-34", :urlog/url "https://clickclickclick.click/"}
  {:doc/slug "urlog-35", :urlog/url "https://yizzle.com/whatthehex/"}
  {:doc/slug "urlog-36", :urlog/url "https://sarthology.github.io/Animatopy/"}
  {:doc/slug "urlog-37", :urlog/url "https://theuselessweb.com/"}
  {:doc/slug "urlog-38", :urlog/url "https://www.blobmaker.app/"}
  {:doc/slug "urlog-39", :urlog/url "https://www.watching-grass-grow.com/"}
  {:doc/slug "urlog-40", :urlog/url "https://fakeflag.net/"}
  {:doc/slug "urlog-41", :urlog/url "https://play.ertdfgcvb.xyz/"}
  {:doc/slug "urlog-42", :urlog/url "https://randoma11y.com/"}
  {:doc/slug "urlog-43", :urlog/url "https://www.figma.com/blog/the-birth-of-inter/"}
  {:doc/slug "urlog-44", :urlog/url "http://thomas-mayer.de/portfolio/table-tennis-trainer"}
  {:doc/slug "urlog-45", :urlog/url "https://madebyfieldwork.com/projects/mavis/"}
  {:doc/slug "urlog-46", :urlog/url "https://www.dezeen.com/2013/08/20/stack-printer-on-pile-of-paper-by-mugi-yamamoto/"}
  {:doc/slug "urlog-47", :urlog/url "https://appleadjectiv.es/"}
  {:doc/slug "urlog-48", :urlog/url "http://www.flagsmithfont.com/index.html"}
  {:doc/slug "urlog-49", :urlog/url "https://hihayk.github.io/scale/#4/6/50/80/-51/67/20/14/1D9A6C/29/154/108/white"}
  {:doc/slug "urlog-50", :urlog/url "https://www.bedow.se/"}
  {:doc/slug "urlog-51", :urlog/url "https://moderncss.dev/12-modern-css-one-line-upgrades/"}
  {:doc/slug "urlog-52", :urlog/url "https://rooms.xyz/"}
  {:doc/slug "urlog-53", :urlog/url "https://mmm.page/"}
  {:doc/slug "urlog-54", :urlog/url "https://robenrobin.nl/fcvariable/"}
  {:doc/slug "urlog-55", :urlog/url "https://deadsimplesites.com/"}
  {:doc/slug "urlog-56", :urlog/url "https://drams.framer.website/"}
  {:doc/slug "urlog-57", :urlog/url "https://acko.net/"}
  {:doc/slug "urlog-58", :urlog/url "https://rossmccampbell.com/BITMAP"}
  {:doc/slug "urlog-59", :urlog/url "https://www.toptal.com/designers/ux/dark-patterns"}
  {:doc/slug "urlog-60", :urlog/url "https://www.deceptive.design"}
  {:doc/slug "urlog-61", :urlog/url "https://128kb.timrodenbroeker.de/"}
  ]}
