@import url(../themeColors.css);

:root {
    --second100: #0F0F0F;
    --first100: var(--first100);
    --first80: var(--first80);
    --first50: var(--first50);
    --first20: var(--first20);
    --first10: var(--first10);
    --second100: var(--second100);
    --second80: var(--second80);
    --second50: var(--second50);
    --second20: var(--second20);
    --second10: var(--second10);
  }
