@import url(../themeColors.css);

:root {
    --background: #080D92;
    --accent100: var(--white100);
    --accent80: var(--white80);
    --accent50: var(--white50);
    --accent20: var(--white20);
    --accent10: var(--white10);
    --invert100: var(--black100);
    --invert80: var(--black80);
    --invert50: var(--black50);
    --invert20: var(--black20);
    --invert10: var(--black10);
  }
