[#:urlog{:url "https://www.my90stv.com/", :tags #{}}
 #:urlog{:url "https://bezier.method.ac/", :tags #{}}
 #:urlog{:url "https://grids.obys.agency/", :tags #{}}
 #:urlog{:url "https://www.accessguide.io/", :tags #{}}
 #:urlog{:url "http://astronaut.io/", :tags #{}}
 #:urlog{:url "https://www.designsystemsforfigma.com/", :tags #{}}
 #:urlog{:url "https://fockups.com/", :tags #{}}
 #:urlog{:url "https://typescale.com/", :tags #{}}
 #:urlog{:url "https://radio.garden/", :tags #{}}
 #:urlog{:url "https://figmalion.com/", :tags #{}}
 #:urlog{:url "https://unwrapyourface.tumblr.com/", :tags #{}}
 #:urlog{:url "https://lines.chromeexperiments.com/", :tags #{}}
 #:urlog{:url "https://calmtech.com/", :tags #{}}
 #:urlog{:url "https://www.unmade.com/", :tags #{}}
 #:urlog{:url "https://bjango.com/articles/designtoolcanvashandles/",
         :tags #{}}
 #:urlog{:url "https://studiomoniker.com/projects", :tags #{}}
 #:urlog{:url "https://type.method.ac/", :tags #{}}
 #:urlog{:url "https://index.kitasenju.design/", :tags #{}}
 #:urlog{:url "https://scanwiches.com/", :tags #{}}
 #:urlog{:url "https://www.window-swap.com/", :tags #{}}
 #:urlog{:url "https://yhsong.com/index.html#home", :tags #{}}
 #:urlog{:url "https://flagstories.co/", :tags #{}}
 #:urlog{:url "https://www.modernillustration.org/archive", :tags #{}}
 #:urlog{:url "https://instorier.com/", :tags #{}}
 #:urlog{:url "https://www.schultzschultz.com/tools.html", :tags #{}}
 #:urlog{:url "https://apps.apple.com/us/app/hidden-bar/id1452453066?mt=12",
         :tags #{}}
 #:urlog{:url "https://a.singlediv.com/", :tags #{}}
 #:urlog{:url "http://onemillionlols.com/", :tags #{}}
 #:urlog{:url "https://fig.io/", :tags #{}}
 #:urlog{:url "http://patternindex.org/", :tags #{}}
 #:urlog{:url "https://temper.one/", :tags #{}}
 #:urlog{:url "https://animate.style/", :tags #{}}
 #:urlog{:url "https://getwaves.io/", :tags #{}}
 #:urlog{:url "https://clickclickclick.click/", :tags #{}}
 #:urlog{:url "https://yizzle.com/whatthehex/", :tags #{}}
 #:urlog{:url "https://sarthology.github.io/Animatopy/", :tags #{}}
 #:urlog{:url "https://theuselessweb.com/", :tags #{}}
 #:urlog{:url "https://www.blobmaker.app/", :tags #{}}
 #:urlog{:url "https://www.watching-grass-grow.com/", :tags #{}}
 #:urlog{:url "https://fakeflag.net/", :tags #{}}
 #:urlog{:url "https://play.ertdfgcvb.xyz/", :tags #{}}
 #:urlog{:url "https://randoma11y.com/", :tags #{}}
 #:urlog{:url "https://www.figma.com/blog/the-birth-of-inter/", :tags #{}}
 #:urlog{:url "http://thomas-mayer.de/portfolio/table-tennis-trainer",
         :tags #{}}
 #:urlog{:url "https://madebyfieldwork.com/projects/mavis/", :tags #{}}
 #:urlog{:url
         "https://www.dezeen.com/2013/08/20/stack-printer-on-pile-of-paper-by-mugi-yamamoto/",
         :tags #{}}
 #:urlog{:url "https://appleadjectiv.es/", :tags #{}}
 #:urlog{:url "http://www.flagsmithfont.com/index.html", :tags #{}}
 #:urlog{:url
         "https://hihayk.github.io/scale/#4/6/50/80/-51/67/20/14/1D9A6C/29/154/108/white",
         :tags #{}}
 #:urlog{:url "https://www.bedow.se/", :tags #{}}]
