name: Clojure unit tests
on: [push, pull_request]
jobs:
  Testing:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v5

      - name: Install Java
        uses: actions/setup-java@master
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@master
        with:
          cli: latest

      - uses: actions/checkout@v5
      - name: Install pandoc binary
        uses: nikeee/setup-pandoc@v1

      - name: Download deps
        run: clojure -M -e :deps-downloaded
      - name: print java version
        run: java -version
      - name: Run tests
        run: bin/kaocha :unit
